<app-header />

<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul class="list-group">
          @for (user of users(); track user.id) {
            <li class="list-group-item">
              <user-avatar
                [userId]="user.id"
                [image]="user.image"
                [name]="user.name"
                [fullWidth]="true"
                (onUserSelected)="handleUserSelect($event)"
              />
            </li>
          }
        </ul>
      </div>
      <div class="col-sm-8">
        @let user = selectedUser();
        @if (!user) {
          <h3>Select a user to view their tasks.</h3>
          <hr />
        }
        @if (user) {
          <user-tasks [user]="user" />
        }
      </div>
    </div>
  </div>
</main>

<app-footer />
