<div>
  <div class="d-flex w-100 justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <avatar [image]="user().image" [name]="user().name" />
      <h3 class="m-3">{{ title() }}</h3>
    </div>
    <button type="button" class="btn btn-primary" (click)="addTask()">
      Add Task
    </button>
  </div>

  <hr />
  @if (tasks().length > 0) {
    <ul class="list-group">
      @for (task of tasks(); track task.id) {
        <li class="list-group-item">
          <user-task [task]="task" />
        </li>
      }
    </ul>
  } @else {
    <p>There are no tasks for this user.</p>
  }
</div>
